.square{
    display: inline-block;
    width: 5%;
    padding: 10%;
    background-color: #dfcdbf;
    margin: 1%;
    border-radius: 10%;
    border: 2px solid #fbeedf;
    cursor: pointer;
}

body{
    background-color: #dfcdbf;
    width: 100%;
}

.container{
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;

}

#title{
    height: 100px;
    color: #000000;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    font-weight: lighter;
}

#message{
    text-align: center;
    height: 10px;
    background-color: #a4d0bb;
    padding: 30px;
    font-weight: lighter;
    color: #fbeedf;
    justify-content: center;
    align-items: center;
}

#stripe{
    width: 100%;
    background-color: #a4d0bb;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.selected{
    text-align: center;
    background-color: #a4d0bb;
    padding: 25px;
    border: 1px solid #a4d0bb;
    border-radius: 20%;
    height: 5px;
    font-weight: lighter;
    color: #000000;
    justify-content: center;
    align-items: center;
    line-height: 15px;
}


#reset{
    text-align: justify;
    background-color: #a4d0bb;
    height: 30px;
    padding: 30px;
    border: 1px solid #a4d0bb;
    border-radius: 15%;
    font-weight: lighter;
    color: #000000;
    justify-content: center;
    cursor: pointer;
}

#normal{
    text-align: justify;
    background-color: #a4d0bb;
    height: 30px;
    padding: 30px;
    border: 1px solid #a4d0bb;
    border-radius: 15%;
    font-weight: lighter;
    color: #000000;
    justify-content: center;
    cursor: pointer;
}

#easy:hover{
    background-color:#fbeedf ;
    color: #a4d0bb;
    cursor: pointer;
    font-size: large;
    font-weight: normal;
    border: 2px solid #dfcdbf;
}

#normal:hover{
    background-color:#fbeedf ;
    color: #a4d0bb;
    cursor: pointer;
    font-size: large;
    font-weight: normal;
    border: 2px solid #dfcdbf;
}

#hard:hover{
    background-color:#fbeedf ;
    color: #a4d0bb;
    cursor: pointer;
    font-size: large;
    font-weight: normal;
    border: 2px solid #dfcdbf;
}

#reset:hover{
    background-color:#fbeedf ;
    color: #a4d0bb;
    font-size: large;
    font-weight: normal;
    border: 2px solid #dfcdbf;
}

#count{
    text-align: justify;
    background-color: #a4d0bb;
    padding: 40px;
    padding-right: 60px;
    font-weight: lighter;
    color: #fbeedf;
    justify-content: center;
}
